html,
body {
  overflow-x: hidden !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.dnd-section .dnd-column {
  padding-left: 0 !important;
  padding-right: 0 !important;
}